{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock  %}
{% block content %}
  <h2>{{ title }}</h2>
  {% include 'posts/includes/switcher.html' %}
  <br>
  {% include 'posts/includes/paginator.html' %}
  {% for post in page_obj %}
  <div class=" shadow p-3 mb-5 bg-white rounded">
    <div class="row">
    <aside class="col-12 col-md-3">
    <ul>
      {% include 'posts/includes/author.html' %}
      {% include 'posts/includes/pub_date.html' %}
      {% include 'posts/includes/group.html' %}
    </ul>
    </aside>
    <article class="col-12 col-md-9">
    {% include 'posts/includes/image.html' %}
    <p>{{ post.text }}</p> 
    <p><a href="{% url 'posts:post_detail' post.pk %}">
      подробная информация 
  </a></p>
</article>
</div>
</div>
    {% comment %} {% if not forloop.last %}<hr>{% endif %} {% endcomment %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endblock %}